<style>
    .container {width:100%;margin:auto;}
    @media (min-width: 600px) {.container {width: 80%;}}
    @media (min-width: 768px) {.container {width: 60%;}}
    @media (min-width: 1024px) {.container {width: 50%;}}
</style>

<div class="container">
<img src="https://upload.wikimedia.org/wikipedia/commons/6/66/UniCredit_Bank_-_LOGO.jpg"
    width="985" height="200">
<h2>Hi, you have entered the wrong username/password. Please try again.</h2>

<form action="/end" method="post">
    <p><input type="submit" value="Log in"></p>
</form>

</div>