<style>
    .container {width:100%;margin:auto;}
    @media (min-width: 600px) {.container {width: 80%;}}
    @media (min-width: 768px) {.container {width: 60%;}}
    @media (min-width: 1024px) {.container {width: 50%;}}
</style>

<div class="container">
<h1>UniCredit Bank Log In</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/66/UniCredit_Bank_-_LOGO.jpg"
    width="985" height="200">
<h3>Welcome! Please log into your account:</h3>
<form action="/main" method="post">
    <h5>User Name: </h5><p><input type="text" name="User"></p>
    <h5>Password: </h5><p><input type="password" name="none"></p>
    <p><input type="submit" value ="Enter"></p>
</form>
</div>